body {
  font-family: 'Raleway', sans-serif;
  color: #555;
  margin-left: 100px;
  margin-top: 50px;
  width: 50%;
}

h2 {
  font-size: 1.3rem;
}

footer {
  margin-top: 100px;
}

#tbl-Notes tr:nth-child(odd) {
  background: #DAE8F2;
}

#tbl-Notes tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table{
  width: 100%;
}

#table tr td:nth-child(odd) {
  text-align: right;
}
.main{
  width: 100%;

}

#tbl-Notes tr td{
    width: 25%;
    word-break: break-all;
    padding: 5px;
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#tbl-Notes tr th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #4CAF50;
    color: white;
}

.label{
  width: 100px;
}
input, button {
  outline: none;
}

.btn-save, .btn-cancel{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3px;
}

button {
  background: none;
  color: #555;
  border: 0px;
  font-size: 16px;
  margin: 10px 0 0;
  cursor: pointer;
}
button:hover {
  color: #333;
}
.btn-delete{
  
}
.marked{
  text-decoration:line-through;
  color: red;
}

input[type="text"], textarea {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  color: #888;
  width: 100%;
}

input[type="text"]:focus {
  color: #333;
}